@charset "utf-8";
.nav{
	height:40px;
	width:100%;
	background:#383838;
}
.nav ul li{
	height:40px;
	line-height:40px;
	padding:0 5px 0px 0px;
	float: left;
	display:inline-block;
}
.nav ul li a{
	float: left;
	height:40px;
	line-height:40px;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.nav ul li a:hover{
	height:40px;
	background:#339DD2;
}
.nav ul li a span{
		padding:0 12px;
	}
	
.nav ul li .selected{
	height:40px;
	background:#339DD2;
}