@charset "utf-8";
.tab tr td{
	text-align:center;
	
}
.tab{
	width:100%;
	font-family:"microsoft yahei";
	empty-cells:show;
	border-collapse:collapse;
}
.tabhead{
	background:#A6C4E4;
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.tab tr{
	height:30px;
	line-height:30px;
}
.tab tr td{
	border:1px solid #7D98CF;
}
.adding{
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}